{% extends "base.html" %}

{% block title %}
	Home Page
{% endblock %}

{% block content %}
	<h1 style="text-align: center;">Home Page</h1>
	<img src="https://i.ibb.co/M1RdgKN/veryveryimportant.png" alt="" class="center" style="padding-bottom: 10px">
	<div class="card" style="max-width: 1000px; margin: auto; border-radius: 15px; opacity: 80%;">
		<p style="padding: 50px; color: white; opacity: 100%;">
				Welcome to our online store – a project created by two brothers as part of their learning experience
				in computer science. This project is an e-commerce platform designed to showcase the skills that the
				two creators have learned in their introductory computer science course.
				<br><br>
				Our website features a range of fake products, including electronics, clothing, accessories, and more.
				Each product is listed with an image, name, and price, and users can add them to their cart by clicking
				the "Add to Cart" button.
				<br><br>
				The website is not intended for commercial purposes and does not have a simulated payment gateway. Instead,
				it provides a simulated e-commerce platform for users to browse and add items to their cart, but they cannot
				complete a purchase.
				<br><br>
				This project provides a great opportunity for the creators to apply what they have learned in their
				introductory computer science course and gain valuable experience in web development. The website is
				intended to showcase their skills and provide a learning resource for others interested in exploring the
				world of e-commerce.
				<br><br>
				Overall, our online store project is a great way to explore the world of e-commerce and gain insight into
				the complexities of building an e-commerce platform. We hope that users will find our platform to be a useful
				resource in their learning journey and appreciate the effort that the two creators have put into the project.
		</p>
	</div>
{% endblock %}
