<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>

		<div class="header">
			<div class="sidebar">
				<img src="static/images/menu.png">
				<img src="static/images/search.png">
				<div class="social-media">
					<a href="https://facebook.com"><img src="static/images/facebook.png"></a>
					<a href="https://instagram.com"><img src="static/images/instagram.png"></a>
					<a href="https://twitter.com"><img src="static/images/twitter.png"></a>
				</div>
			</div>

			<div class="container">
				<nav>
					<img src="static/images/logo.png" class="logo">
					<img src="static/images/shop.png" class="shop-icon">
				</nav>
			</div>


		</div>

	</body>
</html>
