<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		<div class="nav">
			<a href="/">
				Home
			</a>
			<a href="/store">
				Store
			</a>
			<a class="cart-btn" href="/cart">
				<img style="height: 100%; filter: invert(1);" src="../static/cart.png" alt="Shopping Cart">
				<div class="notification">1</div>
			</a>
		</div>	
		
		<div class="container">
			<div class="card">
				<div class="item">
					<h1>Cookie</h1>
					<img src="../static/cookie.png" width="100px" height="100px">
					<p class="price">$1.50</p>
					<button>Add to Cart</button>
				</div>	
			</div>
			<div class="card">
				<div class="item">
					<h1>Sandwich</h1>
					<img src="../static/sandwich.png" width="100px" height="100px">
					<p class="price">$4.00</p>
					<button>Add to Cart</button>
				</div>	
			</div>
			<div class="card">
				<div class="item">
					<h1>Water</h1>
					<img src="../static/water.png" width="100px" height="100px">
					<p class="price">$1.00</p>
					<button>Add to Cart</button>
				</div>	
			</div>	

		</div>

	</body>
</html>
