{% extends "base.html" %}

{% block title %}
	Store Page
{% endblock %}

{% block content %}
	<h1 style="text-align: center;">store</h1>	
	<div class="container">
		{% for item in items %}	
			<div class="card">
				<div class="item">
					<h1>{{ item.name }}</h1>
					<img src='{{ item.image }}' width="80px" height="80px" style="margin: 10px;">
					<p class="price">${{ '%0.2f' | format(item.price|float) }}</p>
					
					<button class="add-to-cart" type="submit">Add to Cart</button>
				</div>	
			</div>	
		{% endfor %}
	</div>
	<script>
		const notification = document.getElementById("notification")
		var buttons = document.getElementsByClassName("add-to-cart")
		for (let i = 0; i < buttons.length; i++) {
			buttons[i].onclick = function() {
				fetch("/store", {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify({
						id: i + 1
					})
				}).then(response => {
					if (response.ok) {
						let newNotification = parseInt(notification.innerHTML) + 1
						notification.innerHTML = newNotification > 99 ? "99+" : newNotification
					}
				})
			}
		}
	</script>
{% endblock %}
